@import url("https://fonts.googleapis.com/css2?family=Inter&family=Saira+Condensed:wght@500&display=swap");

* {
  font-family: inter, sans-serif;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}
li {
  list-style: none;
}
p {
  font-size: 0.8rem;
}
body {
  min-height: 100vh;
  background: rgb(27, 27, 27);
  color: beige;
}
nav {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px 20px;
}
nav ul {
 display: grid;
 grid-template-columns: 33% 33% 33% ;
}
header {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 30px auto;
}

h1 {
  font-style: 5rem;
}
.header-container h3 {
  color: #474dff;
  font-style: 1.8rem;
}
.header-right {
  
  width: 50%;
}
#logo {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.infos {
  display: grid;
  grid-template-columns: 33% 67% ;
  background: #0a0a0a;
  border-radius: 10px;
}

}
.btn-container {
  
}
button {
  border: none;
  background: #2128f5;
  color: white;
  width: 150px;
  padding: 10px 0;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 5px;
}
.infos-right {
  width: 67%;
}
.investors {
 display: grid;
 align-items: center;
 height: 82%;
}
.img-investors {
    display: grid;
    grid-template-columns: 33% 33% 33%;
 
}
.img-investors img {
  height: 60px;
}
